/* Whole Application */

body{

margin:0;

overflow-x:hidden;

font-family:'Poppins',sans-serif;

background:linear-gradient(180deg,#bdefff,#fff8ef,#f5fff4);

background-attachment:fixed;

}

/* Rainbow */

body::before{

content:"";

position:fixed;

top:-180px;

left:50%;

transform:translateX(-50%);

width:900px;

height:900px;

border-radius:50%;

background:

conic-gradient(

#ff6b6b,

#ffa94d,

#ffe066,

#8ce99a,

#74c0fc,

#b197fc,

#ff6b6b

);

opacity:.18;

filter:blur(40px);

z-index:-3;

}

/* Clouds */

body::after{

content:"☁️ ☁️ ☁️ ☁️ ☁️";

position:fixed;

top:35px;

left:-20%;

font-size:90px;

opacity:.20;

animation:cloudMove 70s linear infinite;

z-index:-2;

}

@keyframes cloudMove{

0%{

transform:translateX(-250px);

}

100%{

transform:translateX(1800px);

}

}

/* Floating Stars */

.star{

position:fixed;

font-size:18px;

opacity:.25;

animation:twinkle 4s infinite;

pointer-events:none;

}

@keyframes twinkle{

0%,100%{

opacity:.15;

transform:scale(.8);

}

50%{

opacity:.7;

transform:scale(1.2);

}

}